@import "fonts/stylesheet.css";
@import "fonts/style.css";

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Vegur Light';
    background-color: #535353;
}

#toTopBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 80px;
    z-index: 99;
    font-size: 16px;
    border: none;
    background-color: #86bb5f;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    border-radius: 2px;
}

#toTopBtn:hover{
    background-color: #FFFFFF;
    color: #535353;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p#sidenote{
    border: #535353 2px solid;
    padding: 12px;
}

ul li img{
    float: left;
    padding-right: 8px;
}

#page-wrap{
    margin: 0 auto;
    width: 50%;
    background-color: #FFFFFF !important;
    padding: 2% 6%;
}

#table-wrap {
    height: 100%;
    width: 70%;
    margin: auto;
    text-align: center;
    border: #86bb5f 3px solid;
}

#table-of-contents{
    width: 100%;
    display: inline-block;
    height: inherit;
}

ol li{
    padding-bottom: 10px;
}
nav {
    display: inline-block;
}

nav ul{
    width: 100%;
    text-align: left !important;
    font-size: 23px !important;    
}

nav h2{
    font-size: 27px;
    color: #535353;
}

header img{
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Vegur Regular' !important;

}

h1, h3, ol, p{
    color: #535353;
}

h3 {
    font-size: 27px;
}

h1 {
    font-family: 'quantifybold' !important;
    text-align: center;
    color: #86bb5f;
}

h1, h2 {
    text-align: center;
}
p, ol {
    font-size: 25px;
}

h2 {
    color: #86bb5f;
    font-weight: bolder;
    font-size: 35px;
}

a {
    text-decoration: none;
    color: #535353;
    font-weight: bold;
}

a:hover{
    color: #86bb5f;
    font-weight: bold;
}

footer h3{
    color: #FFFFFF;
    font-family: 'Vegur Light' !important;
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}